body {
    background-color: rgb(117, 117, 117);
    color: rgb(209, 209, 209);
    margin-left: 25%;
    margin-right: 25%;
}

.titulo {
    left:  15px;
    position: relative;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(0, 0, 0);
    font-weight: bold;
    background: linear-gradient(90deg, #0073ef, #7f9000b9, rgb(121, 199, 255));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
/* Os -webkit-text-stroke-width, -webkit-text-stroke-color, 
-webkit-background-clip, -webkit-text-fill-color, não sei o que faz*/
}

.titulo1 {
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(0, 0, 0);
    font-weight: bold;
    background: linear-gradient(90deg, #002956, #7f9000b9, rgb(0, 48, 83));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.link{
    overflow: hidden;
}

.link a {
    float: left;
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 15px 20px;
    text-decoration: none;
}
.link a:hover{
    background-color: #ff0000;
    color: rgb(196, 31, 31);
}

.siteBattlefield {
color: #000000;
}

.discordBattlefield{
    color: rgb(0, 0, 0);
}

.link{
    font-size: 15px;
    text-align: center;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgba(255, 255, 255, 0.457);
    font-weight: bold;
    background: linear-gradient(90deg, #a0e6ff, #e1ff00b9, rgb(121, 199, 255));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.inicio {
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgba(0, 0, 0, 0.457);
    font-size: 15px;
    font-weight: bold;
    background: linear-gradient(90deg, #353535, #006480, rgb(2, 41, 48));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

 .sobre {
    
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgba(0, 0, 0, 0.457);
    font-size: 15px;
    font-weight: bold;
    background: linear-gradient(90deg, #353535, #006480, rgb(2, 41, 48));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
}

.ComoJogar {
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgba(0, 0, 0, 0.457);
    font-size: 15px;
    font-weight: bold;
    background: linear-gradient(90deg, #353535, #006480, rgb(2, 41, 48));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
}

.formulario {
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgba(0, 0, 0, 0.457);
    font-size: 15px;
    font-weight: bold;
    background: linear-gradient(90deg, #353535, #006480, rgb(2, 41, 48));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
} 

.documentario {
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgba(0, 0, 0, 0.457);
    font-size: 15px;
    font-weight: bold;
    background: linear-gradient(90deg, #353535, #006480, rgb(2, 41, 48));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
} 

.copy{
    position: relative;
    top: 50%;
    color: black;
}
.td{
    font-size: 15px;
}