body {
    background-color: rgb(86, 86, 86);
    color: rgb(201, 201, 201);
    margin-left: 30%;
    margin-right: 30%;
}

h1{
    color: rgb(255, 175, 47);
    text-align: center;
    position: relative;
}

h2{
    color: rgb(255, 238, 0);
    text-align: center;
    position: relative;
    
}



.ah{
    overflow: hidden;
    background-color: rgb(86, 86, 86);
    
}

.ah a {
    float: left;
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 15px 20px;
    text-decoration: none;
}

.ah a:hover{
    background-color: #6d6d6d;
    color: rgb(0, 0, 0);
}

.easteregg{
    overflow: hidden;
    color: rgb(38, 93, 112);
}

.easteregg a {
    float: left;
    display: block;
    color: (38, 93, 112);
    padding: 15px 20px;
    text-decoration: none;
}

.easteregg a:hover{
    background-color: #000000;
    color: rgb(255, 255, 255);
}

.site{
color: #000000;
}


.copy{
    position: relative;
    top: 50%;
    color: black;
}
.td{
    font-size: 15px;
    margin-top: 15%;
    position: relative;

}

.link{
    color: rgb(255, 255, 255);
}

.link:hover{
    background-color: black;
}

.um{
   color: rgb(255, 0, 0);
}

a{
    color: rgb(255, 0, 0);
}

.saiba{
    color: rgb(28, 28, 28);
}

.butao {
  padding: 10px 24px;
  background-color: #2b2b2b;
  color: rgb(254, 254, 254);
  border: none;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.2s ease infinit;
}

.butao:hover {
  background-color: #000000;
  color:rgb(255, 0, 0);
}

.butao:active {
  transform: scale(0.97);
}

